StreamingWebClient/src/META-INF/wsdl/localhost_8080/AbbonatoEJBService/AbbonatoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://abbonato/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://abbonato/" name="AbbonatoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://abbonato/" schemaLocation="http://localhost:8080/AbbonatoEJBService/AbbonatoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="aggiornaAbbonato">
<part name="parameters" element="tns:aggiornaAbbonato"/>
</message>
<message name="aggiornaAbbonatoResponse">
<part name="parameters" element="tns:aggiornaAbbonatoResponse"/>
</message>
<message name="aggiungiAbbonato">
<part name="parameters" element="tns:aggiungiAbbonato"/>
</message>
<message name="aggiungiAbbonatoResponse">
<part name="parameters" element="tns:aggiungiAbbonatoResponse"/>
</message>
<message name="rimuoviAbbonato">
<part name="parameters" element="tns:rimuoviAbbonato"/>
</message>
<message name="rimuoviAbbonatoResponse">
<part name="parameters" element="tns:rimuoviAbbonatoResponse"/>
</message>
<message name="cercaValido">
<part name="parameters" element="tns:cercaValido"/>
</message>
<message name="cercaValidoResponse">
<part name="parameters" element="tns:cercaValidoResponse"/>
</message>
<message name="cercaTutti">
<part name="parameters" element="tns:cercaTutti"/>
</message>
<message name="cercaTuttiResponse">
<part name="parameters" element="tns:cercaTuttiResponse"/>
</message>
<message name="cercaNonScaduti">
<part name="parameters" element="tns:cercaNonScaduti"/>
</message>
<message name="cercaNonScadutiResponse">
<part name="parameters" element="tns:cercaNonScadutiResponse"/>
</message>
<message name="cercaValidoNonScadutoPremium">
<part name="parameters" element="tns:cercaValidoNonScadutoPremium"/>
</message>
<message name="cercaValidoNonScadutoPremiumResponse">
<part name="parameters" element="tns:cercaValidoNonScadutoPremiumResponse"/>
</message>
<portType name="AbbonatoEJB">
<operation name="cercaPerId">
<input wsam:Action="http://abbonato/AbbonatoEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="aggiornaAbbonato">
<input wsam:Action="http://abbonato/AbbonatoEJB/aggiornaAbbonatoRequest" message="tns:aggiornaAbbonato"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/aggiornaAbbonatoResponse" message="tns:aggiornaAbbonatoResponse"/>
</operation>
<operation name="aggiungiAbbonato">
<input wsam:Action="http://abbonato/AbbonatoEJB/aggiungiAbbonatoRequest" message="tns:aggiungiAbbonato"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/aggiungiAbbonatoResponse" message="tns:aggiungiAbbonatoResponse"/>
</operation>
<operation name="rimuoviAbbonato">
<input wsam:Action="http://abbonato/AbbonatoEJB/rimuoviAbbonatoRequest" message="tns:rimuoviAbbonato"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/rimuoviAbbonatoResponse" message="tns:rimuoviAbbonatoResponse"/>
</operation>
<operation name="cercaValido">
<input wsam:Action="http://abbonato/AbbonatoEJB/cercaValidoRequest" message="tns:cercaValido"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/cercaValidoResponse" message="tns:cercaValidoResponse"/>
</operation>
<operation name="cercaTutti">
<input wsam:Action="http://abbonato/AbbonatoEJB/cercaTuttiRequest" message="tns:cercaTutti"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/cercaTuttiResponse" message="tns:cercaTuttiResponse"/>
</operation>
<operation name="cercaNonScaduti">
<input wsam:Action="http://abbonato/AbbonatoEJB/cercaNonScadutiRequest" message="tns:cercaNonScaduti"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/cercaNonScadutiResponse" message="tns:cercaNonScadutiResponse"/>
</operation>
<operation name="cercaValidoNonScadutoPremium">
<input wsam:Action="http://abbonato/AbbonatoEJB/cercaValidoNonScadutoPremiumRequest" message="tns:cercaValidoNonScadutoPremium"/>
<output wsam:Action="http://abbonato/AbbonatoEJB/cercaValidoNonScadutoPremiumResponse" message="tns:cercaValidoNonScadutoPremiumResponse"/>
</operation>
</portType>
<binding name="AbbonatoEJBPortBinding" type="tns:AbbonatoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaAbbonato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiAbbonato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviAbbonato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaValido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaNonScaduti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaValidoNonScadutoPremium">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AbbonatoEJBService">
<port name="AbbonatoEJBPort" binding="tns:AbbonatoEJBPortBinding">
<soap:address location="http://localhost:8080/AbbonatoEJBService/AbbonatoEJB"/>
</port>
</service>
</definitions>